---
import ElementListLayout from "../layouts/ElementListLayout.astro";
import ElementSideNav from "../components/ElementSideNav.astro";
import { elementCategories } from "../data/elementCategories.js";
---

<ElementListLayout title="エレメントリスト">
  <ElementSideNav categories={elementCategories} />
  <div class="element-list__content">
    <section class="element-category-index" aria-labelledby="category-index-heading">
      <div class="element-category-index__inner">
        <h2 class="element-category-index__title" id="category-index-heading">カテゴリ一覧</h2>
        <div class="element-category-index__list">
          {elementCategories.map((category) => (
            <a class="element-category-index__item" href={`/categories/${category.id}.html`}>
              <span class="element-category-index__item-title">{category.title}</span>
              <span class="element-category-index__item-count">{category.elements.length}件</span>
            </a>
          ))}
        </div>
      </div>
    </section>
  </div>
</ElementListLayout>
